@*@model ReflectionIT.Mvc.Paging.PagingList<ProjectModel>
    @using ReflectionIT.Mvc.Paging
    @addTagHelper *, ReflectionIT.Mvc.Paging*@
@model ProjectDetailsModel

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
@{
    ViewData["Title"] = "Index";
}

@*<nav>
    @await this.Component.InvokeAsync("pager", new { PagedList = this.Model })
</nav>*@
<div class="content">
    <div class="container-fluid my_board">
        <div class="col-md-12">
            <div class="whitebox">
                <a asp-action="Create" calss="btn btn-primary">Create Project</a>
                <table class="table">
                    <tr class="active">
                        <th>Project Id</th>
                        <th>Project Name</th>
                        <th>Stock Length</th>
                        <th>Standards Type</th>
                        <th>Accessories List</th>
                        <th>Support Bar</th>
                        <th>Title Block</th>
                        <th>View</th>
                        <th>Edit</th>
                    </tr>
                    @foreach (var prjdetails in Model.Projects)
                    {
                        @Html.Partial("_Summary", prjdetails);
                    }

                    @*<tr>
                            <td>@Model.ProjectNumber</td>
                            <td>@Model.ProjectName</td>
                            <td>@Model.StockLength</td>
                            <td>@Model.StandardsType</td>
                            <td>@Model.AccessoriesList</td>
                            <td>@Model.SuportBar</td>
                            <td>@Model.TitleBlock</td>
                            <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.ProjectId">Detail</a> </td>
                            <td><a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a></td>
                        </tr>*@

                </table>
            </div>
        </div>
    </div>
</div>
<nav aria-label="project details navigation">
    <vc:pager paging-list="@Model" />
</nav>
